body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#gameContainer {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #666;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #333;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.cell:hover {
    background-color: #eee;
}

.cell.triangle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #40E0D0;
    transform: translate(-50%, -50%);
}

.cell.box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: #FF7F50;
    border: 2px solid #333;
    transform: translate(-50%, -50%);
}

.cell.triangle {
    color: transparent;
}

.cell.box {
    color: transparent;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 5px;
    margin: auto;
}

#restartBtn {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#restartBtn:hover {
    background-color: #27ae60;
}

#statusText {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
